.btn {
  color: #fff;
  background: #b39ddb;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-21deg);
  &:visited {
    color: #fff;
  }
  &:hover {
    background: #0069a8;
  }
  & > span {
    display: inline-block;
    transform: skew(21deg);
  } /* Un-skew the text */
}
.each {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
